<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.ActivityPdataMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.ActivityPdata" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="make_id" property="makeId" jdbcType="INTEGER" />
    <result column="make_name" property="makeName" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="model_name" property="modelName" jdbcType="VARCHAR" />
    <result column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="car_name" property="carName" jdbcType="VARCHAR" />
    <result column="dealer_id" property="dealerId" jdbcType="INTEGER" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="state_update_uid" property="stateUpdateUid" jdbcType="INTEGER" />
    <result column="state_update_time" property="stateUpdateTime" jdbcType="BIGINT" />
    <result column="visitor_guid" property="visitorGuid" jdbcType="VARCHAR" />
    <result column="visit_ip" property="visitIp" jdbcType="VARCHAR" />
    <result column="dealer_name" property="dealerName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qf.pojo.ActivityPdata" extends="BaseResultMap" >
    <result column="extend_data" property="extendData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, activity_id, member_id, name, mobile, province, province_name, city, city_name, 
    remark, create_time, brand_id, brand_name, make_id, make_name, model_id, model_name, 
    car_id, car_name, dealer_id, channel_id, state, state_update_uid, state_update_time, 
    visitor_guid, visit_ip, dealer_name
  </sql>
  <sql id="Blob_Column_List" >
    extend_data
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.qf.pojo.ActivityPdataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity_pdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.pojo.ActivityPdataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_pdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity_pdata
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from activity_pdata
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.pojo.ActivityPdataExample" >
    delete from activity_pdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.ActivityPdata" >
    insert into activity_pdata (id, activity_id, member_id, 
      name, mobile, province, 
      province_name, city, city_name, 
      remark, create_time, brand_id, 
      brand_name, make_id, make_name, 
      model_id, model_name, car_id, 
      car_name, dealer_id, channel_id, 
      state, state_update_uid, state_update_time, 
      visitor_guid, visit_ip, dealer_name, 
      extend_data)
    values (#{id,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, 
      #{provinceName,jdbcType=VARCHAR}, #{city,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{brandId,jdbcType=INTEGER}, 
      #{brandName,jdbcType=VARCHAR}, #{makeId,jdbcType=INTEGER}, #{makeName,jdbcType=VARCHAR}, 
      #{modelId,jdbcType=INTEGER}, #{modelName,jdbcType=VARCHAR}, #{carId,jdbcType=INTEGER}, 
      #{carName,jdbcType=VARCHAR}, #{dealerId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, 
      #{state,jdbcType=TINYINT}, #{stateUpdateUid,jdbcType=INTEGER}, #{stateUpdateTime,jdbcType=BIGINT}, 
      #{visitorGuid,jdbcType=VARCHAR}, #{visitIp,jdbcType=VARCHAR}, #{dealerName,jdbcType=VARCHAR}, 
      #{extendData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.pojo.ActivityPdata" >
    insert into activity_pdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="makeId != null" >
        make_id,
      </if>
      <if test="makeName != null" >
        make_name,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="modelName != null" >
        model_name,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="carName != null" >
        car_name,
      </if>
      <if test="dealerId != null" >
        dealer_id,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="stateUpdateUid != null" >
        state_update_uid,
      </if>
      <if test="stateUpdateTime != null" >
        state_update_time,
      </if>
      <if test="visitorGuid != null" >
        visitor_guid,
      </if>
      <if test="visitIp != null" >
        visit_ip,
      </if>
      <if test="dealerName != null" >
        dealer_name,
      </if>
      <if test="extendData != null" >
        extend_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="makeId != null" >
        #{makeId,jdbcType=INTEGER},
      </if>
      <if test="makeName != null" >
        #{makeName,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="modelName != null" >
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="carName != null" >
        #{carName,jdbcType=VARCHAR},
      </if>
      <if test="dealerId != null" >
        #{dealerId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="stateUpdateUid != null" >
        #{stateUpdateUid,jdbcType=INTEGER},
      </if>
      <if test="stateUpdateTime != null" >
        #{stateUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="visitorGuid != null" >
        #{visitorGuid,jdbcType=VARCHAR},
      </if>
      <if test="visitIp != null" >
        #{visitIp,jdbcType=VARCHAR},
      </if>
      <if test="dealerName != null" >
        #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="extendData != null" >
        #{extendData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.pojo.ActivityPdataExample" resultType="java.lang.Integer" >
    select count(*) from activity_pdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update activity_pdata
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.activityId != null" >
        activity_id = #{record.activityId,jdbcType=BIGINT},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=INTEGER},
      </if>
      <if test="record.provinceName != null" >
        province_name = #{record.provinceName,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=INTEGER},
      </if>
      <if test="record.cityName != null" >
        city_name = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.brandId != null" >
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.brandName != null" >
        brand_name = #{record.brandName,jdbcType=VARCHAR},
      </if>
      <if test="record.makeId != null" >
        make_id = #{record.makeId,jdbcType=INTEGER},
      </if>
      <if test="record.makeName != null" >
        make_name = #{record.makeName,jdbcType=VARCHAR},
      </if>
      <if test="record.modelId != null" >
        model_id = #{record.modelId,jdbcType=INTEGER},
      </if>
      <if test="record.modelName != null" >
        model_name = #{record.modelName,jdbcType=VARCHAR},
      </if>
      <if test="record.carId != null" >
        car_id = #{record.carId,jdbcType=INTEGER},
      </if>
      <if test="record.carName != null" >
        car_name = #{record.carName,jdbcType=VARCHAR},
      </if>
      <if test="record.dealerId != null" >
        dealer_id = #{record.dealerId,jdbcType=INTEGER},
      </if>
      <if test="record.channelId != null" >
        channel_id = #{record.channelId,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.stateUpdateUid != null" >
        state_update_uid = #{record.stateUpdateUid,jdbcType=INTEGER},
      </if>
      <if test="record.stateUpdateTime != null" >
        state_update_time = #{record.stateUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="record.visitorGuid != null" >
        visitor_guid = #{record.visitorGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.visitIp != null" >
        visit_ip = #{record.visitIp,jdbcType=VARCHAR},
      </if>
      <if test="record.dealerName != null" >
        dealer_name = #{record.dealerName,jdbcType=VARCHAR},
      </if>
      <if test="record.extendData != null" >
        extend_data = #{record.extendData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update activity_pdata
    set id = #{record.id,jdbcType=BIGINT},
      activity_id = #{record.activityId,jdbcType=BIGINT},
      member_id = #{record.memberId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=INTEGER},
      province_name = #{record.provinceName,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=INTEGER},
      city_name = #{record.cityName,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      brand_name = #{record.brandName,jdbcType=VARCHAR},
      make_id = #{record.makeId,jdbcType=INTEGER},
      make_name = #{record.makeName,jdbcType=VARCHAR},
      model_id = #{record.modelId,jdbcType=INTEGER},
      model_name = #{record.modelName,jdbcType=VARCHAR},
      car_id = #{record.carId,jdbcType=INTEGER},
      car_name = #{record.carName,jdbcType=VARCHAR},
      dealer_id = #{record.dealerId,jdbcType=INTEGER},
      channel_id = #{record.channelId,jdbcType=INTEGER},
      state = #{record.state,jdbcType=TINYINT},
      state_update_uid = #{record.stateUpdateUid,jdbcType=INTEGER},
      state_update_time = #{record.stateUpdateTime,jdbcType=BIGINT},
      visitor_guid = #{record.visitorGuid,jdbcType=VARCHAR},
      visit_ip = #{record.visitIp,jdbcType=VARCHAR},
      dealer_name = #{record.dealerName,jdbcType=VARCHAR},
      extend_data = #{record.extendData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update activity_pdata
    set id = #{record.id,jdbcType=BIGINT},
      activity_id = #{record.activityId,jdbcType=BIGINT},
      member_id = #{record.memberId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=INTEGER},
      province_name = #{record.provinceName,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=INTEGER},
      city_name = #{record.cityName,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      brand_name = #{record.brandName,jdbcType=VARCHAR},
      make_id = #{record.makeId,jdbcType=INTEGER},
      make_name = #{record.makeName,jdbcType=VARCHAR},
      model_id = #{record.modelId,jdbcType=INTEGER},
      model_name = #{record.modelName,jdbcType=VARCHAR},
      car_id = #{record.carId,jdbcType=INTEGER},
      car_name = #{record.carName,jdbcType=VARCHAR},
      dealer_id = #{record.dealerId,jdbcType=INTEGER},
      channel_id = #{record.channelId,jdbcType=INTEGER},
      state = #{record.state,jdbcType=TINYINT},
      state_update_uid = #{record.stateUpdateUid,jdbcType=INTEGER},
      state_update_time = #{record.stateUpdateTime,jdbcType=BIGINT},
      visitor_guid = #{record.visitorGuid,jdbcType=VARCHAR},
      visit_ip = #{record.visitIp,jdbcType=VARCHAR},
      dealer_name = #{record.dealerName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.ActivityPdata" >
    update activity_pdata
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="makeId != null" >
        make_id = #{makeId,jdbcType=INTEGER},
      </if>
      <if test="makeName != null" >
        make_name = #{makeName,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="modelName != null" >
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=INTEGER},
      </if>
      <if test="carName != null" >
        car_name = #{carName,jdbcType=VARCHAR},
      </if>
      <if test="dealerId != null" >
        dealer_id = #{dealerId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="stateUpdateUid != null" >
        state_update_uid = #{stateUpdateUid,jdbcType=INTEGER},
      </if>
      <if test="stateUpdateTime != null" >
        state_update_time = #{stateUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="visitorGuid != null" >
        visitor_guid = #{visitorGuid,jdbcType=VARCHAR},
      </if>
      <if test="visitIp != null" >
        visit_ip = #{visitIp,jdbcType=VARCHAR},
      </if>
      <if test="dealerName != null" >
        dealer_name = #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="extendData != null" >
        extend_data = #{extendData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qf.pojo.ActivityPdata" >
    update activity_pdata
    set activity_id = #{activityId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city = #{city,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      brand_id = #{brandId,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      make_id = #{makeId,jdbcType=INTEGER},
      make_name = #{makeName,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=INTEGER},
      model_name = #{modelName,jdbcType=VARCHAR},
      car_id = #{carId,jdbcType=INTEGER},
      car_name = #{carName,jdbcType=VARCHAR},
      dealer_id = #{dealerId,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      state_update_uid = #{stateUpdateUid,jdbcType=INTEGER},
      state_update_time = #{stateUpdateTime,jdbcType=BIGINT},
      visitor_guid = #{visitorGuid,jdbcType=VARCHAR},
      visit_ip = #{visitIp,jdbcType=VARCHAR},
      dealer_name = #{dealerName,jdbcType=VARCHAR},
      extend_data = #{extendData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.ActivityPdata" >
    update activity_pdata
    set activity_id = #{activityId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city = #{city,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      brand_id = #{brandId,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      make_id = #{makeId,jdbcType=INTEGER},
      make_name = #{makeName,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=INTEGER},
      model_name = #{modelName,jdbcType=VARCHAR},
      car_id = #{carId,jdbcType=INTEGER},
      car_name = #{carName,jdbcType=VARCHAR},
      dealer_id = #{dealerId,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      state_update_uid = #{stateUpdateUid,jdbcType=INTEGER},
      state_update_time = #{stateUpdateTime,jdbcType=BIGINT},
      visitor_guid = #{visitorGuid,jdbcType=VARCHAR},
      visit_ip = #{visitIp,jdbcType=VARCHAR},
      dealer_name = #{dealerName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>