<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.Article" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="cover_pic" property="coverPic" jdbcType="VARCHAR" />
    <result column="thumb_pic" property="thumbPic" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="preview_url" property="previewUrl" jdbcType="VARCHAR" />
    <result column="qrcode_url" property="qrcodeUrl" jdbcType="VARCHAR" />
    <result column="pv_count" property="pvCount" jdbcType="INTEGER" />
    <result column="uv_count" property="uvCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
    <result column="fav_count" property="favCount" jdbcType="INTEGER" />
    <result column="share_count" property="shareCount" jdbcType="INTEGER" />
    <result column="channel_top" property="channelTop" jdbcType="TINYINT" />
    <result column="home_top" property="homeTop" jdbcType="TINYINT" />
    <result column="create_uid" property="createUid" jdbcType="INTEGER" />
    <result column="create_uname" property="createUname" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="submit_uid" property="submitUid" jdbcType="INTEGER" />
    <result column="submit_time" property="submitTime" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="state_order" property="stateOrder" jdbcType="INTEGER" />
    <result column="last_audit_uid" property="lastAuditUid" jdbcType="INTEGER" />
    <result column="last_audit_username" property="lastAuditUsername" jdbcType="VARCHAR" />
    <result column="last_audit_time" property="lastAuditTime" jdbcType="BIGINT" />
    <result column="last_reject_reason" property="lastRejectReason" jdbcType="VARCHAR" />
    <result column="publish_state" property="publishState" jdbcType="TINYINT" />
    <result column="publish_uid" property="publishUid" jdbcType="INTEGER" />
    <result column="publish_uname" property="publishUname" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="BIGINT" />
    <result column="unpublish_uid" property="unpublishUid" jdbcType="INTEGER" />
    <result column="unpublish_uname" property="unpublishUname" jdbcType="VARCHAR" />
    <result column="unpublish_time" property="unpublishTime" jdbcType="BIGINT" />
    <result column="unpublish_reason" property="unpublishReason" jdbcType="VARCHAR" />
    <result column="last_update_uid" property="lastUpdateUid" jdbcType="INTEGER" />
    <result column="last_update_uname" property="lastUpdateUname" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="BIGINT" />
    <result column="seo_keywords" property="seoKeywords" jdbcType="VARCHAR" />
    <result column="seo_description" property="seoDescription" jdbcType="VARCHAR" />
    <result column="allow_up" property="allowUp" jdbcType="TINYINT" />
    <result column="allow_fav" property="allowFav" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qf.pojo.Article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, category_id, source, author, summary, cover_pic, thumb_pic, tags, preview_url, 
    qrcode_url, pv_count, uv_count, comment_count, like_count, fav_count, share_count, 
    channel_top, home_top, create_uid, create_uname, create_time, submit_uid, submit_time, 
    state, state_order, last_audit_uid, last_audit_username, last_audit_time, last_reject_reason, 
    publish_state, publish_uid, publish_uname, publish_time, unpublish_uid, unpublish_uname, 
    unpublish_time, unpublish_reason, last_update_uid, last_update_uname, last_update_time, 
    seo_keywords, seo_description, allow_up, allow_fav
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.qf.pojo.ArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.pojo.ArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from article
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.pojo.ArticleExample" >
    delete from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.Article" >
    insert into article (id, title, category_id, 
      source, author, summary, 
      cover_pic, thumb_pic, tags, 
      preview_url, qrcode_url, pv_count, 
      uv_count, comment_count, like_count, 
      fav_count, share_count, channel_top, 
      home_top, create_uid, create_uname, 
      create_time, submit_uid, submit_time, 
      state, state_order, last_audit_uid, 
      last_audit_username, last_audit_time, last_reject_reason, 
      publish_state, publish_uid, publish_uname, 
      publish_time, unpublish_uid, unpublish_uname, 
      unpublish_time, unpublish_reason, last_update_uid, 
      last_update_uname, last_update_time, seo_keywords, 
      seo_description, allow_up, allow_fav, 
      content)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{source,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{coverPic,jdbcType=VARCHAR}, #{thumbPic,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, 
      #{previewUrl,jdbcType=VARCHAR}, #{qrcodeUrl,jdbcType=VARCHAR}, #{pvCount,jdbcType=INTEGER}, 
      #{uvCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER}, 
      #{favCount,jdbcType=INTEGER}, #{shareCount,jdbcType=INTEGER}, #{channelTop,jdbcType=TINYINT}, 
      #{homeTop,jdbcType=TINYINT}, #{createUid,jdbcType=INTEGER}, #{createUname,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{submitUid,jdbcType=INTEGER}, #{submitTime,jdbcType=BIGINT}, 
      #{state,jdbcType=INTEGER}, #{stateOrder,jdbcType=INTEGER}, #{lastAuditUid,jdbcType=INTEGER}, 
      #{lastAuditUsername,jdbcType=VARCHAR}, #{lastAuditTime,jdbcType=BIGINT}, #{lastRejectReason,jdbcType=VARCHAR}, 
      #{publishState,jdbcType=TINYINT}, #{publishUid,jdbcType=INTEGER}, #{publishUname,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=BIGINT}, #{unpublishUid,jdbcType=INTEGER}, #{unpublishUname,jdbcType=VARCHAR}, 
      #{unpublishTime,jdbcType=BIGINT}, #{unpublishReason,jdbcType=VARCHAR}, #{lastUpdateUid,jdbcType=INTEGER}, 
      #{lastUpdateUname,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=BIGINT}, #{seoKeywords,jdbcType=VARCHAR}, 
      #{seoDescription,jdbcType=VARCHAR}, #{allowUp,jdbcType=TINYINT}, #{allowFav,jdbcType=TINYINT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.pojo.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="coverPic != null" >
        cover_pic,
      </if>
      <if test="thumbPic != null" >
        thumb_pic,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="previewUrl != null" >
        preview_url,
      </if>
      <if test="qrcodeUrl != null" >
        qrcode_url,
      </if>
      <if test="pvCount != null" >
        pv_count,
      </if>
      <if test="uvCount != null" >
        uv_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="likeCount != null" >
        like_count,
      </if>
      <if test="favCount != null" >
        fav_count,
      </if>
      <if test="shareCount != null" >
        share_count,
      </if>
      <if test="channelTop != null" >
        channel_top,
      </if>
      <if test="homeTop != null" >
        home_top,
      </if>
      <if test="createUid != null" >
        create_uid,
      </if>
      <if test="createUname != null" >
        create_uname,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="submitUid != null" >
        submit_uid,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="stateOrder != null" >
        state_order,
      </if>
      <if test="lastAuditUid != null" >
        last_audit_uid,
      </if>
      <if test="lastAuditUsername != null" >
        last_audit_username,
      </if>
      <if test="lastAuditTime != null" >
        last_audit_time,
      </if>
      <if test="lastRejectReason != null" >
        last_reject_reason,
      </if>
      <if test="publishState != null" >
        publish_state,
      </if>
      <if test="publishUid != null" >
        publish_uid,
      </if>
      <if test="publishUname != null" >
        publish_uname,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="unpublishUid != null" >
        unpublish_uid,
      </if>
      <if test="unpublishUname != null" >
        unpublish_uname,
      </if>
      <if test="unpublishTime != null" >
        unpublish_time,
      </if>
      <if test="unpublishReason != null" >
        unpublish_reason,
      </if>
      <if test="lastUpdateUid != null" >
        last_update_uid,
      </if>
      <if test="lastUpdateUname != null" >
        last_update_uname,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="seoKeywords != null" >
        seo_keywords,
      </if>
      <if test="seoDescription != null" >
        seo_description,
      </if>
      <if test="allowUp != null" >
        allow_up,
      </if>
      <if test="allowFav != null" >
        allow_fav,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="coverPic != null" >
        #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="thumbPic != null" >
        #{thumbPic,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="previewUrl != null" >
        #{previewUrl,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null" >
        #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="pvCount != null" >
        #{pvCount,jdbcType=INTEGER},
      </if>
      <if test="uvCount != null" >
        #{uvCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null" >
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="favCount != null" >
        #{favCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="channelTop != null" >
        #{channelTop,jdbcType=TINYINT},
      </if>
      <if test="homeTop != null" >
        #{homeTop,jdbcType=TINYINT},
      </if>
      <if test="createUid != null" >
        #{createUid,jdbcType=INTEGER},
      </if>
      <if test="createUname != null" >
        #{createUname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="submitUid != null" >
        #{submitUid,jdbcType=INTEGER},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="stateOrder != null" >
        #{stateOrder,jdbcType=INTEGER},
      </if>
      <if test="lastAuditUid != null" >
        #{lastAuditUid,jdbcType=INTEGER},
      </if>
      <if test="lastAuditUsername != null" >
        #{lastAuditUsername,jdbcType=VARCHAR},
      </if>
      <if test="lastAuditTime != null" >
        #{lastAuditTime,jdbcType=BIGINT},
      </if>
      <if test="lastRejectReason != null" >
        #{lastRejectReason,jdbcType=VARCHAR},
      </if>
      <if test="publishState != null" >
        #{publishState,jdbcType=TINYINT},
      </if>
      <if test="publishUid != null" >
        #{publishUid,jdbcType=INTEGER},
      </if>
      <if test="publishUname != null" >
        #{publishUname,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=BIGINT},
      </if>
      <if test="unpublishUid != null" >
        #{unpublishUid,jdbcType=INTEGER},
      </if>
      <if test="unpublishUname != null" >
        #{unpublishUname,jdbcType=VARCHAR},
      </if>
      <if test="unpublishTime != null" >
        #{unpublishTime,jdbcType=BIGINT},
      </if>
      <if test="unpublishReason != null" >
        #{unpublishReason,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUid != null" >
        #{lastUpdateUid,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateUname != null" >
        #{lastUpdateUname,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="seoKeywords != null" >
        #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null" >
        #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="allowUp != null" >
        #{allowUp,jdbcType=TINYINT},
      </if>
      <if test="allowFav != null" >
        #{allowFav,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.pojo.ArticleExample" resultType="java.lang.Integer" >
    select count(*) from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update article
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null" >
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.coverPic != null" >
        cover_pic = #{record.coverPic,jdbcType=VARCHAR},
      </if>
      <if test="record.thumbPic != null" >
        thumb_pic = #{record.thumbPic,jdbcType=VARCHAR},
      </if>
      <if test="record.tags != null" >
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.previewUrl != null" >
        preview_url = #{record.previewUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.qrcodeUrl != null" >
        qrcode_url = #{record.qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.pvCount != null" >
        pv_count = #{record.pvCount,jdbcType=INTEGER},
      </if>
      <if test="record.uvCount != null" >
        uv_count = #{record.uvCount,jdbcType=INTEGER},
      </if>
      <if test="record.commentCount != null" >
        comment_count = #{record.commentCount,jdbcType=INTEGER},
      </if>
      <if test="record.likeCount != null" >
        like_count = #{record.likeCount,jdbcType=INTEGER},
      </if>
      <if test="record.favCount != null" >
        fav_count = #{record.favCount,jdbcType=INTEGER},
      </if>
      <if test="record.shareCount != null" >
        share_count = #{record.shareCount,jdbcType=INTEGER},
      </if>
      <if test="record.channelTop != null" >
        channel_top = #{record.channelTop,jdbcType=TINYINT},
      </if>
      <if test="record.homeTop != null" >
        home_top = #{record.homeTop,jdbcType=TINYINT},
      </if>
      <if test="record.createUid != null" >
        create_uid = #{record.createUid,jdbcType=INTEGER},
      </if>
      <if test="record.createUname != null" >
        create_uname = #{record.createUname,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.submitUid != null" >
        submit_uid = #{record.submitUid,jdbcType=INTEGER},
      </if>
      <if test="record.submitTime != null" >
        submit_time = #{record.submitTime,jdbcType=BIGINT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.stateOrder != null" >
        state_order = #{record.stateOrder,jdbcType=INTEGER},
      </if>
      <if test="record.lastAuditUid != null" >
        last_audit_uid = #{record.lastAuditUid,jdbcType=INTEGER},
      </if>
      <if test="record.lastAuditUsername != null" >
        last_audit_username = #{record.lastAuditUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.lastAuditTime != null" >
        last_audit_time = #{record.lastAuditTime,jdbcType=BIGINT},
      </if>
      <if test="record.lastRejectReason != null" >
        last_reject_reason = #{record.lastRejectReason,jdbcType=VARCHAR},
      </if>
      <if test="record.publishState != null" >
        publish_state = #{record.publishState,jdbcType=TINYINT},
      </if>
      <if test="record.publishUid != null" >
        publish_uid = #{record.publishUid,jdbcType=INTEGER},
      </if>
      <if test="record.publishUname != null" >
        publish_uname = #{record.publishUname,jdbcType=VARCHAR},
      </if>
      <if test="record.publishTime != null" >
        publish_time = #{record.publishTime,jdbcType=BIGINT},
      </if>
      <if test="record.unpublishUid != null" >
        unpublish_uid = #{record.unpublishUid,jdbcType=INTEGER},
      </if>
      <if test="record.unpublishUname != null" >
        unpublish_uname = #{record.unpublishUname,jdbcType=VARCHAR},
      </if>
      <if test="record.unpublishTime != null" >
        unpublish_time = #{record.unpublishTime,jdbcType=BIGINT},
      </if>
      <if test="record.unpublishReason != null" >
        unpublish_reason = #{record.unpublishReason,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateUid != null" >
        last_update_uid = #{record.lastUpdateUid,jdbcType=INTEGER},
      </if>
      <if test="record.lastUpdateUname != null" >
        last_update_uname = #{record.lastUpdateUname,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null" >
        last_update_time = #{record.lastUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="record.seoKeywords != null" >
        seo_keywords = #{record.seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="record.seoDescription != null" >
        seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.allowUp != null" >
        allow_up = #{record.allowUp,jdbcType=TINYINT},
      </if>
      <if test="record.allowFav != null" >
        allow_fav = #{record.allowFav,jdbcType=TINYINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update article
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      source = #{record.source,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR},
      cover_pic = #{record.coverPic,jdbcType=VARCHAR},
      thumb_pic = #{record.thumbPic,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      preview_url = #{record.previewUrl,jdbcType=VARCHAR},
      qrcode_url = #{record.qrcodeUrl,jdbcType=VARCHAR},
      pv_count = #{record.pvCount,jdbcType=INTEGER},
      uv_count = #{record.uvCount,jdbcType=INTEGER},
      comment_count = #{record.commentCount,jdbcType=INTEGER},
      like_count = #{record.likeCount,jdbcType=INTEGER},
      fav_count = #{record.favCount,jdbcType=INTEGER},
      share_count = #{record.shareCount,jdbcType=INTEGER},
      channel_top = #{record.channelTop,jdbcType=TINYINT},
      home_top = #{record.homeTop,jdbcType=TINYINT},
      create_uid = #{record.createUid,jdbcType=INTEGER},
      create_uname = #{record.createUname,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      submit_uid = #{record.submitUid,jdbcType=INTEGER},
      submit_time = #{record.submitTime,jdbcType=BIGINT},
      state = #{record.state,jdbcType=INTEGER},
      state_order = #{record.stateOrder,jdbcType=INTEGER},
      last_audit_uid = #{record.lastAuditUid,jdbcType=INTEGER},
      last_audit_username = #{record.lastAuditUsername,jdbcType=VARCHAR},
      last_audit_time = #{record.lastAuditTime,jdbcType=BIGINT},
      last_reject_reason = #{record.lastRejectReason,jdbcType=VARCHAR},
      publish_state = #{record.publishState,jdbcType=TINYINT},
      publish_uid = #{record.publishUid,jdbcType=INTEGER},
      publish_uname = #{record.publishUname,jdbcType=VARCHAR},
      publish_time = #{record.publishTime,jdbcType=BIGINT},
      unpublish_uid = #{record.unpublishUid,jdbcType=INTEGER},
      unpublish_uname = #{record.unpublishUname,jdbcType=VARCHAR},
      unpublish_time = #{record.unpublishTime,jdbcType=BIGINT},
      unpublish_reason = #{record.unpublishReason,jdbcType=VARCHAR},
      last_update_uid = #{record.lastUpdateUid,jdbcType=INTEGER},
      last_update_uname = #{record.lastUpdateUname,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=BIGINT},
      seo_keywords = #{record.seoKeywords,jdbcType=VARCHAR},
      seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      allow_up = #{record.allowUp,jdbcType=TINYINT},
      allow_fav = #{record.allowFav,jdbcType=TINYINT},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update article
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      source = #{record.source,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR},
      cover_pic = #{record.coverPic,jdbcType=VARCHAR},
      thumb_pic = #{record.thumbPic,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      preview_url = #{record.previewUrl,jdbcType=VARCHAR},
      qrcode_url = #{record.qrcodeUrl,jdbcType=VARCHAR},
      pv_count = #{record.pvCount,jdbcType=INTEGER},
      uv_count = #{record.uvCount,jdbcType=INTEGER},
      comment_count = #{record.commentCount,jdbcType=INTEGER},
      like_count = #{record.likeCount,jdbcType=INTEGER},
      fav_count = #{record.favCount,jdbcType=INTEGER},
      share_count = #{record.shareCount,jdbcType=INTEGER},
      channel_top = #{record.channelTop,jdbcType=TINYINT},
      home_top = #{record.homeTop,jdbcType=TINYINT},
      create_uid = #{record.createUid,jdbcType=INTEGER},
      create_uname = #{record.createUname,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      submit_uid = #{record.submitUid,jdbcType=INTEGER},
      submit_time = #{record.submitTime,jdbcType=BIGINT},
      state = #{record.state,jdbcType=INTEGER},
      state_order = #{record.stateOrder,jdbcType=INTEGER},
      last_audit_uid = #{record.lastAuditUid,jdbcType=INTEGER},
      last_audit_username = #{record.lastAuditUsername,jdbcType=VARCHAR},
      last_audit_time = #{record.lastAuditTime,jdbcType=BIGINT},
      last_reject_reason = #{record.lastRejectReason,jdbcType=VARCHAR},
      publish_state = #{record.publishState,jdbcType=TINYINT},
      publish_uid = #{record.publishUid,jdbcType=INTEGER},
      publish_uname = #{record.publishUname,jdbcType=VARCHAR},
      publish_time = #{record.publishTime,jdbcType=BIGINT},
      unpublish_uid = #{record.unpublishUid,jdbcType=INTEGER},
      unpublish_uname = #{record.unpublishUname,jdbcType=VARCHAR},
      unpublish_time = #{record.unpublishTime,jdbcType=BIGINT},
      unpublish_reason = #{record.unpublishReason,jdbcType=VARCHAR},
      last_update_uid = #{record.lastUpdateUid,jdbcType=INTEGER},
      last_update_uname = #{record.lastUpdateUname,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=BIGINT},
      seo_keywords = #{record.seoKeywords,jdbcType=VARCHAR},
      seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      allow_up = #{record.allowUp,jdbcType=TINYINT},
      allow_fav = #{record.allowFav,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.Article" >
    update article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="coverPic != null" >
        cover_pic = #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="thumbPic != null" >
        thumb_pic = #{thumbPic,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="previewUrl != null" >
        preview_url = #{previewUrl,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null" >
        qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="pvCount != null" >
        pv_count = #{pvCount,jdbcType=INTEGER},
      </if>
      <if test="uvCount != null" >
        uv_count = #{uvCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null" >
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="favCount != null" >
        fav_count = #{favCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        share_count = #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="channelTop != null" >
        channel_top = #{channelTop,jdbcType=TINYINT},
      </if>
      <if test="homeTop != null" >
        home_top = #{homeTop,jdbcType=TINYINT},
      </if>
      <if test="createUid != null" >
        create_uid = #{createUid,jdbcType=INTEGER},
      </if>
      <if test="createUname != null" >
        create_uname = #{createUname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="submitUid != null" >
        submit_uid = #{submitUid,jdbcType=INTEGER},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="stateOrder != null" >
        state_order = #{stateOrder,jdbcType=INTEGER},
      </if>
      <if test="lastAuditUid != null" >
        last_audit_uid = #{lastAuditUid,jdbcType=INTEGER},
      </if>
      <if test="lastAuditUsername != null" >
        last_audit_username = #{lastAuditUsername,jdbcType=VARCHAR},
      </if>
      <if test="lastAuditTime != null" >
        last_audit_time = #{lastAuditTime,jdbcType=BIGINT},
      </if>
      <if test="lastRejectReason != null" >
        last_reject_reason = #{lastRejectReason,jdbcType=VARCHAR},
      </if>
      <if test="publishState != null" >
        publish_state = #{publishState,jdbcType=TINYINT},
      </if>
      <if test="publishUid != null" >
        publish_uid = #{publishUid,jdbcType=INTEGER},
      </if>
      <if test="publishUname != null" >
        publish_uname = #{publishUname,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=BIGINT},
      </if>
      <if test="unpublishUid != null" >
        unpublish_uid = #{unpublishUid,jdbcType=INTEGER},
      </if>
      <if test="unpublishUname != null" >
        unpublish_uname = #{unpublishUname,jdbcType=VARCHAR},
      </if>
      <if test="unpublishTime != null" >
        unpublish_time = #{unpublishTime,jdbcType=BIGINT},
      </if>
      <if test="unpublishReason != null" >
        unpublish_reason = #{unpublishReason,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUid != null" >
        last_update_uid = #{lastUpdateUid,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateUname != null" >
        last_update_uname = #{lastUpdateUname,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="seoKeywords != null" >
        seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null" >
        seo_description = #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="allowUp != null" >
        allow_up = #{allowUp,jdbcType=TINYINT},
      </if>
      <if test="allowFav != null" >
        allow_fav = #{allowFav,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qf.pojo.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      cover_pic = #{coverPic,jdbcType=VARCHAR},
      thumb_pic = #{thumbPic,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      preview_url = #{previewUrl,jdbcType=VARCHAR},
      qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      pv_count = #{pvCount,jdbcType=INTEGER},
      uv_count = #{uvCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      like_count = #{likeCount,jdbcType=INTEGER},
      fav_count = #{favCount,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER},
      channel_top = #{channelTop,jdbcType=TINYINT},
      home_top = #{homeTop,jdbcType=TINYINT},
      create_uid = #{createUid,jdbcType=INTEGER},
      create_uname = #{createUname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      submit_uid = #{submitUid,jdbcType=INTEGER},
      submit_time = #{submitTime,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER},
      state_order = #{stateOrder,jdbcType=INTEGER},
      last_audit_uid = #{lastAuditUid,jdbcType=INTEGER},
      last_audit_username = #{lastAuditUsername,jdbcType=VARCHAR},
      last_audit_time = #{lastAuditTime,jdbcType=BIGINT},
      last_reject_reason = #{lastRejectReason,jdbcType=VARCHAR},
      publish_state = #{publishState,jdbcType=TINYINT},
      publish_uid = #{publishUid,jdbcType=INTEGER},
      publish_uname = #{publishUname,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=BIGINT},
      unpublish_uid = #{unpublishUid,jdbcType=INTEGER},
      unpublish_uname = #{unpublishUname,jdbcType=VARCHAR},
      unpublish_time = #{unpublishTime,jdbcType=BIGINT},
      unpublish_reason = #{unpublishReason,jdbcType=VARCHAR},
      last_update_uid = #{lastUpdateUid,jdbcType=INTEGER},
      last_update_uname = #{lastUpdateUname,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=BIGINT},
      seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      seo_description = #{seoDescription,jdbcType=VARCHAR},
      allow_up = #{allowUp,jdbcType=TINYINT},
      allow_fav = #{allowFav,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      cover_pic = #{coverPic,jdbcType=VARCHAR},
      thumb_pic = #{thumbPic,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      preview_url = #{previewUrl,jdbcType=VARCHAR},
      qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      pv_count = #{pvCount,jdbcType=INTEGER},
      uv_count = #{uvCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      like_count = #{likeCount,jdbcType=INTEGER},
      fav_count = #{favCount,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER},
      channel_top = #{channelTop,jdbcType=TINYINT},
      home_top = #{homeTop,jdbcType=TINYINT},
      create_uid = #{createUid,jdbcType=INTEGER},
      create_uname = #{createUname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      submit_uid = #{submitUid,jdbcType=INTEGER},
      submit_time = #{submitTime,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER},
      state_order = #{stateOrder,jdbcType=INTEGER},
      last_audit_uid = #{lastAuditUid,jdbcType=INTEGER},
      last_audit_username = #{lastAuditUsername,jdbcType=VARCHAR},
      last_audit_time = #{lastAuditTime,jdbcType=BIGINT},
      last_reject_reason = #{lastRejectReason,jdbcType=VARCHAR},
      publish_state = #{publishState,jdbcType=TINYINT},
      publish_uid = #{publishUid,jdbcType=INTEGER},
      publish_uname = #{publishUname,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=BIGINT},
      unpublish_uid = #{unpublishUid,jdbcType=INTEGER},
      unpublish_uname = #{unpublishUname,jdbcType=VARCHAR},
      unpublish_time = #{unpublishTime,jdbcType=BIGINT},
      unpublish_reason = #{unpublishReason,jdbcType=VARCHAR},
      last_update_uid = #{lastUpdateUid,jdbcType=INTEGER},
      last_update_uname = #{lastUpdateUname,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=BIGINT},
      seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      seo_description = #{seoDescription,jdbcType=VARCHAR},
      allow_up = #{allowUp,jdbcType=TINYINT},
      allow_fav = #{allowFav,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>