<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.CarBrandMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.CarBrand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="other_name" property="otherName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="country_id" property="countryId" jdbcType="INTEGER" />
    <result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
    <result column="logo_meaning" property="logoMeaning" jdbcType="VARCHAR" />
    <result column="first_char" property="firstChar" jdbcType="VARCHAR" />
    <result column="spell" property="spell" jdbcType="VARCHAR" />
    <result column="all_spell" property="allSpell" jdbcType="VARCHAR" />
    <result column="name_spell" property="nameSpell" jdbcType="VARCHAR" />
    <result column="name_all_spell" property="nameAllSpell" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="sale_status" property="saleStatus" jdbcType="TINYINT" />
    <result column="is_enabled" property="isEnabled" jdbcType="TINYINT" />
    <result column="is_removed" property="isRemoved" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="do_time" property="doTime" jdbcType="BIGINT" />
    <result column="sync_time" property="syncTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, other_name, english_name, country_id, logo_url, logo_meaning, first_char, 
    spell, all_spell, name_spell, name_all_spell, introduction, sale_status, is_enabled, 
    is_removed, create_time, update_time, do_time, sync_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.pojo.CarBrandExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_brand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_brand
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.pojo.CarBrandExample" >
    delete from car_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.CarBrand" >
    insert into car_brand (id, name, other_name, 
      english_name, country_id, logo_url, 
      logo_meaning, first_char, spell, 
      all_spell, name_spell, name_all_spell, 
      introduction, sale_status, is_enabled, 
      is_removed, create_time, update_time, 
      do_time, sync_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{otherName,jdbcType=VARCHAR}, 
      #{englishName,jdbcType=VARCHAR}, #{countryId,jdbcType=INTEGER}, #{logoUrl,jdbcType=VARCHAR}, 
      #{logoMeaning,jdbcType=VARCHAR}, #{firstChar,jdbcType=VARCHAR}, #{spell,jdbcType=VARCHAR}, 
      #{allSpell,jdbcType=VARCHAR}, #{nameSpell,jdbcType=VARCHAR}, #{nameAllSpell,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR}, #{saleStatus,jdbcType=TINYINT}, #{isEnabled,jdbcType=TINYINT}, 
      #{isRemoved,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{doTime,jdbcType=BIGINT}, #{syncTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.pojo.CarBrand" >
    insert into car_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="otherName != null" >
        other_name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="countryId != null" >
        country_id,
      </if>
      <if test="logoUrl != null" >
        logo_url,
      </if>
      <if test="logoMeaning != null" >
        logo_meaning,
      </if>
      <if test="firstChar != null" >
        first_char,
      </if>
      <if test="spell != null" >
        spell,
      </if>
      <if test="allSpell != null" >
        all_spell,
      </if>
      <if test="nameSpell != null" >
        name_spell,
      </if>
      <if test="nameAllSpell != null" >
        name_all_spell,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="saleStatus != null" >
        sale_status,
      </if>
      <if test="isEnabled != null" >
        is_enabled,
      </if>
      <if test="isRemoved != null" >
        is_removed,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="doTime != null" >
        do_time,
      </if>
      <if test="syncTime != null" >
        sync_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="otherName != null" >
        #{otherName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        #{countryId,jdbcType=INTEGER},
      </if>
      <if test="logoUrl != null" >
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoMeaning != null" >
        #{logoMeaning,jdbcType=VARCHAR},
      </if>
      <if test="firstChar != null" >
        #{firstChar,jdbcType=VARCHAR},
      </if>
      <if test="spell != null" >
        #{spell,jdbcType=VARCHAR},
      </if>
      <if test="allSpell != null" >
        #{allSpell,jdbcType=VARCHAR},
      </if>
      <if test="nameSpell != null" >
        #{nameSpell,jdbcType=VARCHAR},
      </if>
      <if test="nameAllSpell != null" >
        #{nameAllSpell,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="saleStatus != null" >
        #{saleStatus,jdbcType=TINYINT},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=TINYINT},
      </if>
      <if test="isRemoved != null" >
        #{isRemoved,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="doTime != null" >
        #{doTime,jdbcType=BIGINT},
      </if>
      <if test="syncTime != null" >
        #{syncTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.pojo.CarBrandExample" resultType="java.lang.Integer" >
    select count(*) from car_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update car_brand
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.otherName != null" >
        other_name = #{record.otherName,jdbcType=VARCHAR},
      </if>
      <if test="record.englishName != null" >
        english_name = #{record.englishName,jdbcType=VARCHAR},
      </if>
      <if test="record.countryId != null" >
        country_id = #{record.countryId,jdbcType=INTEGER},
      </if>
      <if test="record.logoUrl != null" >
        logo_url = #{record.logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.logoMeaning != null" >
        logo_meaning = #{record.logoMeaning,jdbcType=VARCHAR},
      </if>
      <if test="record.firstChar != null" >
        first_char = #{record.firstChar,jdbcType=VARCHAR},
      </if>
      <if test="record.spell != null" >
        spell = #{record.spell,jdbcType=VARCHAR},
      </if>
      <if test="record.allSpell != null" >
        all_spell = #{record.allSpell,jdbcType=VARCHAR},
      </if>
      <if test="record.nameSpell != null" >
        name_spell = #{record.nameSpell,jdbcType=VARCHAR},
      </if>
      <if test="record.nameAllSpell != null" >
        name_all_spell = #{record.nameAllSpell,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.saleStatus != null" >
        sale_status = #{record.saleStatus,jdbcType=TINYINT},
      </if>
      <if test="record.isEnabled != null" >
        is_enabled = #{record.isEnabled,jdbcType=TINYINT},
      </if>
      <if test="record.isRemoved != null" >
        is_removed = #{record.isRemoved,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.doTime != null" >
        do_time = #{record.doTime,jdbcType=BIGINT},
      </if>
      <if test="record.syncTime != null" >
        sync_time = #{record.syncTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update car_brand
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      other_name = #{record.otherName,jdbcType=VARCHAR},
      english_name = #{record.englishName,jdbcType=VARCHAR},
      country_id = #{record.countryId,jdbcType=INTEGER},
      logo_url = #{record.logoUrl,jdbcType=VARCHAR},
      logo_meaning = #{record.logoMeaning,jdbcType=VARCHAR},
      first_char = #{record.firstChar,jdbcType=VARCHAR},
      spell = #{record.spell,jdbcType=VARCHAR},
      all_spell = #{record.allSpell,jdbcType=VARCHAR},
      name_spell = #{record.nameSpell,jdbcType=VARCHAR},
      name_all_spell = #{record.nameAllSpell,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      sale_status = #{record.saleStatus,jdbcType=TINYINT},
      is_enabled = #{record.isEnabled,jdbcType=TINYINT},
      is_removed = #{record.isRemoved,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      do_time = #{record.doTime,jdbcType=BIGINT},
      sync_time = #{record.syncTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.CarBrand" >
    update car_brand
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="otherName != null" >
        other_name = #{otherName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        country_id = #{countryId,jdbcType=INTEGER},
      </if>
      <if test="logoUrl != null" >
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoMeaning != null" >
        logo_meaning = #{logoMeaning,jdbcType=VARCHAR},
      </if>
      <if test="firstChar != null" >
        first_char = #{firstChar,jdbcType=VARCHAR},
      </if>
      <if test="spell != null" >
        spell = #{spell,jdbcType=VARCHAR},
      </if>
      <if test="allSpell != null" >
        all_spell = #{allSpell,jdbcType=VARCHAR},
      </if>
      <if test="nameSpell != null" >
        name_spell = #{nameSpell,jdbcType=VARCHAR},
      </if>
      <if test="nameAllSpell != null" >
        name_all_spell = #{nameAllSpell,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="saleStatus != null" >
        sale_status = #{saleStatus,jdbcType=TINYINT},
      </if>
      <if test="isEnabled != null" >
        is_enabled = #{isEnabled,jdbcType=TINYINT},
      </if>
      <if test="isRemoved != null" >
        is_removed = #{isRemoved,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="doTime != null" >
        do_time = #{doTime,jdbcType=BIGINT},
      </if>
      <if test="syncTime != null" >
        sync_time = #{syncTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.CarBrand" >
    update car_brand
    set name = #{name,jdbcType=VARCHAR},
      other_name = #{otherName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      country_id = #{countryId,jdbcType=INTEGER},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      logo_meaning = #{logoMeaning,jdbcType=VARCHAR},
      first_char = #{firstChar,jdbcType=VARCHAR},
      spell = #{spell,jdbcType=VARCHAR},
      all_spell = #{allSpell,jdbcType=VARCHAR},
      name_spell = #{nameSpell,jdbcType=VARCHAR},
      name_all_spell = #{nameAllSpell,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      sale_status = #{saleStatus,jdbcType=TINYINT},
      is_enabled = #{isEnabled,jdbcType=TINYINT},
      is_removed = #{isRemoved,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      do_time = #{doTime,jdbcType=BIGINT},
      sync_time = #{syncTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>