<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="make_id" property="makeId" jdbcType="INTEGER" />
    <result column="make_name" property="makeName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="other_name" property="otherName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="country_class" property="countryClass" jdbcType="INTEGER" />
    <result column="country_class_name" property="countryClassName" jdbcType="VARCHAR" />
    <result column="body_form" property="bodyForm" jdbcType="INTEGER" />
    <result column="body_form_name" property="bodyFormName" jdbcType="VARCHAR" />
    <result column="price_low" property="priceLow" jdbcType="DECIMAL" />
    <result column="price_high" property="priceHigh" jdbcType="DECIMAL" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="level_name" property="levelName" jdbcType="VARCHAR" />
    <result column="level_second" property="levelSecond" jdbcType="INTEGER" />
    <result column="level_second_name" property="levelSecondName" jdbcType="VARCHAR" />
    <result column="sale_status" property="saleStatus" jdbcType="TINYINT" />
    <result column="all_spell" property="allSpell" jdbcType="VARCHAR" />
    <result column="country_id" property="countryId" jdbcType="INTEGER" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="sync_time" property="syncTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, brand_id, brand_name, make_id, make_name, name, display_name, other_name, english_name, 
    country_class, country_class_name, body_form, body_form_name, price_low, price_high, 
    level, level_name, level_second, level_second_name, sale_status, all_spell, country_id, 
    country_name, create_time, update_time, sync_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.pojo.CarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.pojo.CarExample" >
    delete from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.Car" >
    insert into car (id, brand_id, brand_name, 
      make_id, make_name, name, 
      display_name, other_name, english_name, 
      country_class, country_class_name, body_form, 
      body_form_name, price_low, price_high, 
      level, level_name, level_second, 
      level_second_name, sale_status, all_spell, 
      country_id, country_name, create_time, 
      update_time, sync_time)
    values (#{id,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, 
      #{makeId,jdbcType=INTEGER}, #{makeName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{displayName,jdbcType=VARCHAR}, #{otherName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, 
      #{countryClass,jdbcType=INTEGER}, #{countryClassName,jdbcType=VARCHAR}, #{bodyForm,jdbcType=INTEGER}, 
      #{bodyFormName,jdbcType=VARCHAR}, #{priceLow,jdbcType=DECIMAL}, #{priceHigh,jdbcType=DECIMAL}, 
      #{level,jdbcType=INTEGER}, #{levelName,jdbcType=VARCHAR}, #{levelSecond,jdbcType=INTEGER}, 
      #{levelSecondName,jdbcType=VARCHAR}, #{saleStatus,jdbcType=TINYINT}, #{allSpell,jdbcType=VARCHAR}, 
      #{countryId,jdbcType=INTEGER}, #{countryName,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{syncTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.pojo.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="makeId != null" >
        make_id,
      </if>
      <if test="makeName != null" >
        make_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
      <if test="otherName != null" >
        other_name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="countryClass != null" >
        country_class,
      </if>
      <if test="countryClassName != null" >
        country_class_name,
      </if>
      <if test="bodyForm != null" >
        body_form,
      </if>
      <if test="bodyFormName != null" >
        body_form_name,
      </if>
      <if test="priceLow != null" >
        price_low,
      </if>
      <if test="priceHigh != null" >
        price_high,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="levelName != null" >
        level_name,
      </if>
      <if test="levelSecond != null" >
        level_second,
      </if>
      <if test="levelSecondName != null" >
        level_second_name,
      </if>
      <if test="saleStatus != null" >
        sale_status,
      </if>
      <if test="allSpell != null" >
        all_spell,
      </if>
      <if test="countryId != null" >
        country_id,
      </if>
      <if test="countryName != null" >
        country_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="syncTime != null" >
        sync_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="makeId != null" >
        #{makeId,jdbcType=INTEGER},
      </if>
      <if test="makeName != null" >
        #{makeName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="otherName != null" >
        #{otherName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="countryClass != null" >
        #{countryClass,jdbcType=INTEGER},
      </if>
      <if test="countryClassName != null" >
        #{countryClassName,jdbcType=VARCHAR},
      </if>
      <if test="bodyForm != null" >
        #{bodyForm,jdbcType=INTEGER},
      </if>
      <if test="bodyFormName != null" >
        #{bodyFormName,jdbcType=VARCHAR},
      </if>
      <if test="priceLow != null" >
        #{priceLow,jdbcType=DECIMAL},
      </if>
      <if test="priceHigh != null" >
        #{priceHigh,jdbcType=DECIMAL},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="levelName != null" >
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="levelSecond != null" >
        #{levelSecond,jdbcType=INTEGER},
      </if>
      <if test="levelSecondName != null" >
        #{levelSecondName,jdbcType=VARCHAR},
      </if>
      <if test="saleStatus != null" >
        #{saleStatus,jdbcType=TINYINT},
      </if>
      <if test="allSpell != null" >
        #{allSpell,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        #{countryId,jdbcType=INTEGER},
      </if>
      <if test="countryName != null" >
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="syncTime != null" >
        #{syncTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.pojo.CarExample" resultType="java.lang.Integer" >
    select count(*) from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update car
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.brandId != null" >
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.brandName != null" >
        brand_name = #{record.brandName,jdbcType=VARCHAR},
      </if>
      <if test="record.makeId != null" >
        make_id = #{record.makeId,jdbcType=INTEGER},
      </if>
      <if test="record.makeName != null" >
        make_name = #{record.makeName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.displayName != null" >
        display_name = #{record.displayName,jdbcType=VARCHAR},
      </if>
      <if test="record.otherName != null" >
        other_name = #{record.otherName,jdbcType=VARCHAR},
      </if>
      <if test="record.englishName != null" >
        english_name = #{record.englishName,jdbcType=VARCHAR},
      </if>
      <if test="record.countryClass != null" >
        country_class = #{record.countryClass,jdbcType=INTEGER},
      </if>
      <if test="record.countryClassName != null" >
        country_class_name = #{record.countryClassName,jdbcType=VARCHAR},
      </if>
      <if test="record.bodyForm != null" >
        body_form = #{record.bodyForm,jdbcType=INTEGER},
      </if>
      <if test="record.bodyFormName != null" >
        body_form_name = #{record.bodyFormName,jdbcType=VARCHAR},
      </if>
      <if test="record.priceLow != null" >
        price_low = #{record.priceLow,jdbcType=DECIMAL},
      </if>
      <if test="record.priceHigh != null" >
        price_high = #{record.priceHigh,jdbcType=DECIMAL},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.levelName != null" >
        level_name = #{record.levelName,jdbcType=VARCHAR},
      </if>
      <if test="record.levelSecond != null" >
        level_second = #{record.levelSecond,jdbcType=INTEGER},
      </if>
      <if test="record.levelSecondName != null" >
        level_second_name = #{record.levelSecondName,jdbcType=VARCHAR},
      </if>
      <if test="record.saleStatus != null" >
        sale_status = #{record.saleStatus,jdbcType=TINYINT},
      </if>
      <if test="record.allSpell != null" >
        all_spell = #{record.allSpell,jdbcType=VARCHAR},
      </if>
      <if test="record.countryId != null" >
        country_id = #{record.countryId,jdbcType=INTEGER},
      </if>
      <if test="record.countryName != null" >
        country_name = #{record.countryName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.syncTime != null" >
        sync_time = #{record.syncTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update car
    set id = #{record.id,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      brand_name = #{record.brandName,jdbcType=VARCHAR},
      make_id = #{record.makeId,jdbcType=INTEGER},
      make_name = #{record.makeName,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      display_name = #{record.displayName,jdbcType=VARCHAR},
      other_name = #{record.otherName,jdbcType=VARCHAR},
      english_name = #{record.englishName,jdbcType=VARCHAR},
      country_class = #{record.countryClass,jdbcType=INTEGER},
      country_class_name = #{record.countryClassName,jdbcType=VARCHAR},
      body_form = #{record.bodyForm,jdbcType=INTEGER},
      body_form_name = #{record.bodyFormName,jdbcType=VARCHAR},
      price_low = #{record.priceLow,jdbcType=DECIMAL},
      price_high = #{record.priceHigh,jdbcType=DECIMAL},
      level = #{record.level,jdbcType=INTEGER},
      level_name = #{record.levelName,jdbcType=VARCHAR},
      level_second = #{record.levelSecond,jdbcType=INTEGER},
      level_second_name = #{record.levelSecondName,jdbcType=VARCHAR},
      sale_status = #{record.saleStatus,jdbcType=TINYINT},
      all_spell = #{record.allSpell,jdbcType=VARCHAR},
      country_id = #{record.countryId,jdbcType=INTEGER},
      country_name = #{record.countryName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      sync_time = #{record.syncTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.Car" >
    update car
    <set >
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="makeId != null" >
        make_id = #{makeId,jdbcType=INTEGER},
      </if>
      <if test="makeName != null" >
        make_name = #{makeName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="otherName != null" >
        other_name = #{otherName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="countryClass != null" >
        country_class = #{countryClass,jdbcType=INTEGER},
      </if>
      <if test="countryClassName != null" >
        country_class_name = #{countryClassName,jdbcType=VARCHAR},
      </if>
      <if test="bodyForm != null" >
        body_form = #{bodyForm,jdbcType=INTEGER},
      </if>
      <if test="bodyFormName != null" >
        body_form_name = #{bodyFormName,jdbcType=VARCHAR},
      </if>
      <if test="priceLow != null" >
        price_low = #{priceLow,jdbcType=DECIMAL},
      </if>
      <if test="priceHigh != null" >
        price_high = #{priceHigh,jdbcType=DECIMAL},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="levelName != null" >
        level_name = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="levelSecond != null" >
        level_second = #{levelSecond,jdbcType=INTEGER},
      </if>
      <if test="levelSecondName != null" >
        level_second_name = #{levelSecondName,jdbcType=VARCHAR},
      </if>
      <if test="saleStatus != null" >
        sale_status = #{saleStatus,jdbcType=TINYINT},
      </if>
      <if test="allSpell != null" >
        all_spell = #{allSpell,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        country_id = #{countryId,jdbcType=INTEGER},
      </if>
      <if test="countryName != null" >
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="syncTime != null" >
        sync_time = #{syncTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.Car" >
    update car
    set brand_id = #{brandId,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      make_id = #{makeId,jdbcType=INTEGER},
      make_name = #{makeName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      other_name = #{otherName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      country_class = #{countryClass,jdbcType=INTEGER},
      country_class_name = #{countryClassName,jdbcType=VARCHAR},
      body_form = #{bodyForm,jdbcType=INTEGER},
      body_form_name = #{bodyFormName,jdbcType=VARCHAR},
      price_low = #{priceLow,jdbcType=DECIMAL},
      price_high = #{priceHigh,jdbcType=DECIMAL},
      level = #{level,jdbcType=INTEGER},
      level_name = #{levelName,jdbcType=VARCHAR},
      level_second = #{levelSecond,jdbcType=INTEGER},
      level_second_name = #{levelSecondName,jdbcType=VARCHAR},
      sale_status = #{saleStatus,jdbcType=TINYINT},
      all_spell = #{allSpell,jdbcType=VARCHAR},
      country_id = #{countryId,jdbcType=INTEGER},
      country_name = #{countryName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      sync_time = #{syncTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>