<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.ChooseLogMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.ChooseLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="user_country" property="userCountry" jdbcType="TINYINT" />
    <result column="user_space" property="userSpace" jdbcType="VARCHAR" />
    <result column="user_power" property="userPower" jdbcType="VARCHAR" />
    <result column="user_comfort" property="userComfort" jdbcType="VARCHAR" />
    <result column="user_safe" property="userSafe" jdbcType="VARCHAR" />
    <result column="user_cost" property="userCost" jdbcType="VARCHAR" />
    <result column="user_min" property="userMin" jdbcType="VARCHAR" />
    <result column="user_max" property="userMax" jdbcType="VARCHAR" />
    <result column="user_ptime" property="userPtime" jdbcType="VARCHAR" />
    <result column="user_car" property="userCar" jdbcType="VARCHAR" />
    <result column="choose_car" property="chooseCar" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_id, user_country, user_space, user_power, user_comfort, user_safe, user_cost, 
    user_min, user_max, user_ptime, user_car, choose_car, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.pojo.ChooseLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from choose_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from choose_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from choose_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.pojo.ChooseLogExample" >
    delete from choose_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.ChooseLog" >
    insert into choose_log (id, member_id, user_country, 
      user_space, user_power, user_comfort, 
      user_safe, user_cost, user_min, 
      user_max, user_ptime, user_car, 
      choose_car, create_time)
    values (#{id,jdbcType=INTEGER}, #{memberId,jdbcType=VARCHAR}, #{userCountry,jdbcType=TINYINT}, 
      #{userSpace,jdbcType=VARCHAR}, #{userPower,jdbcType=VARCHAR}, #{userComfort,jdbcType=VARCHAR}, 
      #{userSafe,jdbcType=VARCHAR}, #{userCost,jdbcType=VARCHAR}, #{userMin,jdbcType=VARCHAR}, 
      #{userMax,jdbcType=VARCHAR}, #{userPtime,jdbcType=VARCHAR}, #{userCar,jdbcType=VARCHAR}, 
      #{chooseCar,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.pojo.ChooseLog" >
    insert into choose_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="userCountry != null" >
        user_country,
      </if>
      <if test="userSpace != null" >
        user_space,
      </if>
      <if test="userPower != null" >
        user_power,
      </if>
      <if test="userComfort != null" >
        user_comfort,
      </if>
      <if test="userSafe != null" >
        user_safe,
      </if>
      <if test="userCost != null" >
        user_cost,
      </if>
      <if test="userMin != null" >
        user_min,
      </if>
      <if test="userMax != null" >
        user_max,
      </if>
      <if test="userPtime != null" >
        user_ptime,
      </if>
      <if test="userCar != null" >
        user_car,
      </if>
      <if test="chooseCar != null" >
        choose_car,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="userCountry != null" >
        #{userCountry,jdbcType=TINYINT},
      </if>
      <if test="userSpace != null" >
        #{userSpace,jdbcType=VARCHAR},
      </if>
      <if test="userPower != null" >
        #{userPower,jdbcType=VARCHAR},
      </if>
      <if test="userComfort != null" >
        #{userComfort,jdbcType=VARCHAR},
      </if>
      <if test="userSafe != null" >
        #{userSafe,jdbcType=VARCHAR},
      </if>
      <if test="userCost != null" >
        #{userCost,jdbcType=VARCHAR},
      </if>
      <if test="userMin != null" >
        #{userMin,jdbcType=VARCHAR},
      </if>
      <if test="userMax != null" >
        #{userMax,jdbcType=VARCHAR},
      </if>
      <if test="userPtime != null" >
        #{userPtime,jdbcType=VARCHAR},
      </if>
      <if test="userCar != null" >
        #{userCar,jdbcType=VARCHAR},
      </if>
      <if test="chooseCar != null" >
        #{chooseCar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.pojo.ChooseLogExample" resultType="java.lang.Integer" >
    select count(*) from choose_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update choose_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=VARCHAR},
      </if>
      <if test="record.userCountry != null" >
        user_country = #{record.userCountry,jdbcType=TINYINT},
      </if>
      <if test="record.userSpace != null" >
        user_space = #{record.userSpace,jdbcType=VARCHAR},
      </if>
      <if test="record.userPower != null" >
        user_power = #{record.userPower,jdbcType=VARCHAR},
      </if>
      <if test="record.userComfort != null" >
        user_comfort = #{record.userComfort,jdbcType=VARCHAR},
      </if>
      <if test="record.userSafe != null" >
        user_safe = #{record.userSafe,jdbcType=VARCHAR},
      </if>
      <if test="record.userCost != null" >
        user_cost = #{record.userCost,jdbcType=VARCHAR},
      </if>
      <if test="record.userMin != null" >
        user_min = #{record.userMin,jdbcType=VARCHAR},
      </if>
      <if test="record.userMax != null" >
        user_max = #{record.userMax,jdbcType=VARCHAR},
      </if>
      <if test="record.userPtime != null" >
        user_ptime = #{record.userPtime,jdbcType=VARCHAR},
      </if>
      <if test="record.userCar != null" >
        user_car = #{record.userCar,jdbcType=VARCHAR},
      </if>
      <if test="record.chooseCar != null" >
        choose_car = #{record.chooseCar,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update choose_log
    set id = #{record.id,jdbcType=INTEGER},
      member_id = #{record.memberId,jdbcType=VARCHAR},
      user_country = #{record.userCountry,jdbcType=TINYINT},
      user_space = #{record.userSpace,jdbcType=VARCHAR},
      user_power = #{record.userPower,jdbcType=VARCHAR},
      user_comfort = #{record.userComfort,jdbcType=VARCHAR},
      user_safe = #{record.userSafe,jdbcType=VARCHAR},
      user_cost = #{record.userCost,jdbcType=VARCHAR},
      user_min = #{record.userMin,jdbcType=VARCHAR},
      user_max = #{record.userMax,jdbcType=VARCHAR},
      user_ptime = #{record.userPtime,jdbcType=VARCHAR},
      user_car = #{record.userCar,jdbcType=VARCHAR},
      choose_car = #{record.chooseCar,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.ChooseLog" >
    update choose_log
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="userCountry != null" >
        user_country = #{userCountry,jdbcType=TINYINT},
      </if>
      <if test="userSpace != null" >
        user_space = #{userSpace,jdbcType=VARCHAR},
      </if>
      <if test="userPower != null" >
        user_power = #{userPower,jdbcType=VARCHAR},
      </if>
      <if test="userComfort != null" >
        user_comfort = #{userComfort,jdbcType=VARCHAR},
      </if>
      <if test="userSafe != null" >
        user_safe = #{userSafe,jdbcType=VARCHAR},
      </if>
      <if test="userCost != null" >
        user_cost = #{userCost,jdbcType=VARCHAR},
      </if>
      <if test="userMin != null" >
        user_min = #{userMin,jdbcType=VARCHAR},
      </if>
      <if test="userMax != null" >
        user_max = #{userMax,jdbcType=VARCHAR},
      </if>
      <if test="userPtime != null" >
        user_ptime = #{userPtime,jdbcType=VARCHAR},
      </if>
      <if test="userCar != null" >
        user_car = #{userCar,jdbcType=VARCHAR},
      </if>
      <if test="chooseCar != null" >
        choose_car = #{chooseCar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.ChooseLog" >
    update choose_log
    set member_id = #{memberId,jdbcType=VARCHAR},
      user_country = #{userCountry,jdbcType=TINYINT},
      user_space = #{userSpace,jdbcType=VARCHAR},
      user_power = #{userPower,jdbcType=VARCHAR},
      user_comfort = #{userComfort,jdbcType=VARCHAR},
      user_safe = #{userSafe,jdbcType=VARCHAR},
      user_cost = #{userCost,jdbcType=VARCHAR},
      user_min = #{userMin,jdbcType=VARCHAR},
      user_max = #{userMax,jdbcType=VARCHAR},
      user_ptime = #{userPtime,jdbcType=VARCHAR},
      user_car = #{userCar,jdbcType=VARCHAR},
      choose_car = #{chooseCar,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>