<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.MessageSendlogMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.MessageSendlog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="message_id" property="messageId" jdbcType="BIGINT" />
    <result column="send_time" property="sendTime" jdbcType="BIGINT" />
    <result column="to_mid" property="toMid" jdbcType="BIGINT" />
    <result column="received" property="received" jdbcType="INTEGER" />
    <result column="receive_time" property="receiveTime" jdbcType="BIGINT" />
    <result column="viewed" property="viewed" jdbcType="TINYINT" />
    <result column="view_time" property="viewTime" jdbcType="BIGINT" />
    <result column="view_detail" property="viewDetail" jdbcType="TINYINT" />
    <result column="view_detail_time" property="viewDetailTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, message_id, send_time, to_mid, received, receive_time, viewed, view_time, view_detail, 
    view_detail_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.pojo.MessageSendlogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message_sendlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from message_sendlog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from message_sendlog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.pojo.MessageSendlogExample" >
    delete from message_sendlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.MessageSendlog" >
    insert into message_sendlog (id, message_id, send_time, 
      to_mid, received, receive_time, 
      viewed, view_time, view_detail, 
      view_detail_time)
    values (#{id,jdbcType=BIGINT}, #{messageId,jdbcType=BIGINT}, #{sendTime,jdbcType=BIGINT}, 
      #{toMid,jdbcType=BIGINT}, #{received,jdbcType=INTEGER}, #{receiveTime,jdbcType=BIGINT}, 
      #{viewed,jdbcType=TINYINT}, #{viewTime,jdbcType=BIGINT}, #{viewDetail,jdbcType=TINYINT}, 
      #{viewDetailTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.pojo.MessageSendlog" >
    insert into message_sendlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="toMid != null" >
        to_mid,
      </if>
      <if test="received != null" >
        received,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="viewed != null" >
        viewed,
      </if>
      <if test="viewTime != null" >
        view_time,
      </if>
      <if test="viewDetail != null" >
        view_detail,
      </if>
      <if test="viewDetailTime != null" >
        view_detail_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=BIGINT},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=BIGINT},
      </if>
      <if test="toMid != null" >
        #{toMid,jdbcType=BIGINT},
      </if>
      <if test="received != null" >
        #{received,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=BIGINT},
      </if>
      <if test="viewed != null" >
        #{viewed,jdbcType=TINYINT},
      </if>
      <if test="viewTime != null" >
        #{viewTime,jdbcType=BIGINT},
      </if>
      <if test="viewDetail != null" >
        #{viewDetail,jdbcType=TINYINT},
      </if>
      <if test="viewDetailTime != null" >
        #{viewDetailTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.pojo.MessageSendlogExample" resultType="java.lang.Integer" >
    select count(*) from message_sendlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update message_sendlog
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.messageId != null" >
        message_id = #{record.messageId,jdbcType=BIGINT},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=BIGINT},
      </if>
      <if test="record.toMid != null" >
        to_mid = #{record.toMid,jdbcType=BIGINT},
      </if>
      <if test="record.received != null" >
        received = #{record.received,jdbcType=INTEGER},
      </if>
      <if test="record.receiveTime != null" >
        receive_time = #{record.receiveTime,jdbcType=BIGINT},
      </if>
      <if test="record.viewed != null" >
        viewed = #{record.viewed,jdbcType=TINYINT},
      </if>
      <if test="record.viewTime != null" >
        view_time = #{record.viewTime,jdbcType=BIGINT},
      </if>
      <if test="record.viewDetail != null" >
        view_detail = #{record.viewDetail,jdbcType=TINYINT},
      </if>
      <if test="record.viewDetailTime != null" >
        view_detail_time = #{record.viewDetailTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update message_sendlog
    set id = #{record.id,jdbcType=BIGINT},
      message_id = #{record.messageId,jdbcType=BIGINT},
      send_time = #{record.sendTime,jdbcType=BIGINT},
      to_mid = #{record.toMid,jdbcType=BIGINT},
      received = #{record.received,jdbcType=INTEGER},
      receive_time = #{record.receiveTime,jdbcType=BIGINT},
      viewed = #{record.viewed,jdbcType=TINYINT},
      view_time = #{record.viewTime,jdbcType=BIGINT},
      view_detail = #{record.viewDetail,jdbcType=TINYINT},
      view_detail_time = #{record.viewDetailTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.MessageSendlog" >
    update message_sendlog
    <set >
      <if test="messageId != null" >
        message_id = #{messageId,jdbcType=BIGINT},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=BIGINT},
      </if>
      <if test="toMid != null" >
        to_mid = #{toMid,jdbcType=BIGINT},
      </if>
      <if test="received != null" >
        received = #{received,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=BIGINT},
      </if>
      <if test="viewed != null" >
        viewed = #{viewed,jdbcType=TINYINT},
      </if>
      <if test="viewTime != null" >
        view_time = #{viewTime,jdbcType=BIGINT},
      </if>
      <if test="viewDetail != null" >
        view_detail = #{viewDetail,jdbcType=TINYINT},
      </if>
      <if test="viewDetailTime != null" >
        view_detail_time = #{viewDetailTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.MessageSendlog" >
    update message_sendlog
    set message_id = #{messageId,jdbcType=BIGINT},
      send_time = #{sendTime,jdbcType=BIGINT},
      to_mid = #{toMid,jdbcType=BIGINT},
      received = #{received,jdbcType=INTEGER},
      receive_time = #{receiveTime,jdbcType=BIGINT},
      viewed = #{viewed,jdbcType=TINYINT},
      view_time = #{viewTime,jdbcType=BIGINT},
      view_detail = #{viewDetail,jdbcType=TINYINT},
      view_detail_time = #{viewDetailTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>