<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.OperateLogMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.OperateLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="operate_time" property="operateTime" jdbcType="INTEGER" />
    <result column="operate_uid" property="operateUid" jdbcType="INTEGER" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="table_disname" property="tableDisname" jdbcType="VARCHAR" />
    <result column="data_id" property="dataId" jdbcType="BIGINT" />
    <result column="operate_desc" property="operateDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, operate_time, operate_uid, table_name, table_disname, data_id, operate_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.pojo.OperateLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from operate_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from operate_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.pojo.OperateLogExample" >
    delete from operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.OperateLog" >
    insert into operate_log (id, operate_time, operate_uid, 
      table_name, table_disname, data_id, 
      operate_desc)
    values (#{id,jdbcType=BIGINT}, #{operateTime,jdbcType=INTEGER}, #{operateUid,jdbcType=INTEGER}, 
      #{tableName,jdbcType=VARCHAR}, #{tableDisname,jdbcType=VARCHAR}, #{dataId,jdbcType=BIGINT}, 
      #{operateDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.pojo.OperateLog" >
    insert into operate_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="operateUid != null" >
        operate_uid,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="tableDisname != null" >
        table_disname,
      </if>
      <if test="dataId != null" >
        data_id,
      </if>
      <if test="operateDesc != null" >
        operate_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=INTEGER},
      </if>
      <if test="operateUid != null" >
        #{operateUid,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableDisname != null" >
        #{tableDisname,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null" >
        #{dataId,jdbcType=BIGINT},
      </if>
      <if test="operateDesc != null" >
        #{operateDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.pojo.OperateLogExample" resultType="java.lang.Integer" >
    select count(*) from operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update operate_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.operateTime != null" >
        operate_time = #{record.operateTime,jdbcType=INTEGER},
      </if>
      <if test="record.operateUid != null" >
        operate_uid = #{record.operateUid,jdbcType=INTEGER},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableDisname != null" >
        table_disname = #{record.tableDisname,jdbcType=VARCHAR},
      </if>
      <if test="record.dataId != null" >
        data_id = #{record.dataId,jdbcType=BIGINT},
      </if>
      <if test="record.operateDesc != null" >
        operate_desc = #{record.operateDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update operate_log
    set id = #{record.id,jdbcType=BIGINT},
      operate_time = #{record.operateTime,jdbcType=INTEGER},
      operate_uid = #{record.operateUid,jdbcType=INTEGER},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      table_disname = #{record.tableDisname,jdbcType=VARCHAR},
      data_id = #{record.dataId,jdbcType=BIGINT},
      operate_desc = #{record.operateDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.OperateLog" >
    update operate_log
    <set >
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=INTEGER},
      </if>
      <if test="operateUid != null" >
        operate_uid = #{operateUid,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableDisname != null" >
        table_disname = #{tableDisname,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null" >
        data_id = #{dataId,jdbcType=BIGINT},
      </if>
      <if test="operateDesc != null" >
        operate_desc = #{operateDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.OperateLog" >
    update operate_log
    set operate_time = #{operateTime,jdbcType=INTEGER},
      operate_uid = #{operateUid,jdbcType=INTEGER},
      table_name = #{tableName,jdbcType=VARCHAR},
      table_disname = #{tableDisname,jdbcType=VARCHAR},
      data_id = #{dataId,jdbcType=BIGINT},
      operate_desc = #{operateDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>