<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.VisitorMapper" >
  <resultMap id="BaseResultMap" type="com.qf.pojo.Visitor" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="visitor_guid" property="visitorGuid" jdbcType="VARCHAR" />
    <result column="first_visit_time" property="firstVisitTime" jdbcType="BIGINT" />
    <result column="entry_url" property="entryUrl" jdbcType="VARCHAR" />
    <result column="visitor_ip" property="visitorIp" jdbcType="VARCHAR" />
    <result column="visitor_device" property="visitorDevice" jdbcType="VARCHAR" />
    <result column="visitor_channel" property="visitorChannel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, visitor_guid, first_visit_time, entry_url, visitor_ip, visitor_device, visitor_channel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.pojo.VisitorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from visitor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from visitor
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from visitor
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.pojo.VisitorExample" >
    delete from visitor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.Visitor" >
    insert into visitor (id, visitor_guid, first_visit_time, 
      entry_url, visitor_ip, visitor_device, 
      visitor_channel)
    values (#{id,jdbcType=BIGINT}, #{visitorGuid,jdbcType=VARCHAR}, #{firstVisitTime,jdbcType=BIGINT}, 
      #{entryUrl,jdbcType=VARCHAR}, #{visitorIp,jdbcType=VARCHAR}, #{visitorDevice,jdbcType=VARCHAR}, 
      #{visitorChannel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.pojo.Visitor" >
    insert into visitor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="visitorGuid != null" >
        visitor_guid,
      </if>
      <if test="firstVisitTime != null" >
        first_visit_time,
      </if>
      <if test="entryUrl != null" >
        entry_url,
      </if>
      <if test="visitorIp != null" >
        visitor_ip,
      </if>
      <if test="visitorDevice != null" >
        visitor_device,
      </if>
      <if test="visitorChannel != null" >
        visitor_channel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="visitorGuid != null" >
        #{visitorGuid,jdbcType=VARCHAR},
      </if>
      <if test="firstVisitTime != null" >
        #{firstVisitTime,jdbcType=BIGINT},
      </if>
      <if test="entryUrl != null" >
        #{entryUrl,jdbcType=VARCHAR},
      </if>
      <if test="visitorIp != null" >
        #{visitorIp,jdbcType=VARCHAR},
      </if>
      <if test="visitorDevice != null" >
        #{visitorDevice,jdbcType=VARCHAR},
      </if>
      <if test="visitorChannel != null" >
        #{visitorChannel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.pojo.VisitorExample" resultType="java.lang.Integer" >
    select count(*) from visitor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update visitor
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.visitorGuid != null" >
        visitor_guid = #{record.visitorGuid,jdbcType=VARCHAR},
      </if>
      <if test="record.firstVisitTime != null" >
        first_visit_time = #{record.firstVisitTime,jdbcType=BIGINT},
      </if>
      <if test="record.entryUrl != null" >
        entry_url = #{record.entryUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.visitorIp != null" >
        visitor_ip = #{record.visitorIp,jdbcType=VARCHAR},
      </if>
      <if test="record.visitorDevice != null" >
        visitor_device = #{record.visitorDevice,jdbcType=VARCHAR},
      </if>
      <if test="record.visitorChannel != null" >
        visitor_channel = #{record.visitorChannel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update visitor
    set id = #{record.id,jdbcType=BIGINT},
      visitor_guid = #{record.visitorGuid,jdbcType=VARCHAR},
      first_visit_time = #{record.firstVisitTime,jdbcType=BIGINT},
      entry_url = #{record.entryUrl,jdbcType=VARCHAR},
      visitor_ip = #{record.visitorIp,jdbcType=VARCHAR},
      visitor_device = #{record.visitorDevice,jdbcType=VARCHAR},
      visitor_channel = #{record.visitorChannel,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.Visitor" >
    update visitor
    <set >
      <if test="visitorGuid != null" >
        visitor_guid = #{visitorGuid,jdbcType=VARCHAR},
      </if>
      <if test="firstVisitTime != null" >
        first_visit_time = #{firstVisitTime,jdbcType=BIGINT},
      </if>
      <if test="entryUrl != null" >
        entry_url = #{entryUrl,jdbcType=VARCHAR},
      </if>
      <if test="visitorIp != null" >
        visitor_ip = #{visitorIp,jdbcType=VARCHAR},
      </if>
      <if test="visitorDevice != null" >
        visitor_device = #{visitorDevice,jdbcType=VARCHAR},
      </if>
      <if test="visitorChannel != null" >
        visitor_channel = #{visitorChannel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.Visitor" >
    update visitor
    set visitor_guid = #{visitorGuid,jdbcType=VARCHAR},
      first_visit_time = #{firstVisitTime,jdbcType=BIGINT},
      entry_url = #{entryUrl,jdbcType=VARCHAR},
      visitor_ip = #{visitorIp,jdbcType=VARCHAR},
      visitor_device = #{visitorDevice,jdbcType=VARCHAR},
      visitor_channel = #{visitorChannel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>